<!DOCTYPE html>
<html>
<body>

<h2>Points of teams/h2>
{{ points }}
<table style="width:100%">
  <tr>
    <th>points</th>
    <th>teampoints</th> 
  </tr>
  <tr>
    <td> {{ points }} </td>
    <td>{{ teampoints }}</td>
    
  </tr>
  
</table>

</body>
</html>