<form action={% url 'password' %}>

<select name="length">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>



</select>
<input type=submit >

</form>
