<!DOCTYPE html>
<html>
<body>

<h2>Match data between teams</h2>
{{ matches }}
<table style="width:100%">
  <tr>
    <th>Matches between teams</th>
    <th>Winner</th> 
  </tr>
  <tr>
    <td> {{ matchesBetweenteams }} </td>
    <td>{{ Winner }}</td>
  </tr>
  
</table>

</body>
</html>